name: ci-release

on:
  push:
    branches:
      - main
      - stage

permissions:
  contents: read

jobs:
  ci:
    name: Linting and Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
      
      - name: Install deps
        run: uv sync --all-extras --dev
      
      - name: Lint
        run: uv run ruff check .

      - name: Format check
        run: uv run ruff format --check .

      - name: Tests
        run: uv run pytest -q


  plan_version:
    name: Compute next version
    runs-on: ubuntu-latest
    needs: ci
    outputs:
      released: ${{ steps.plan.outputs.released }}
      version:  ${{ steps.plan.outputs.version }}
      tag:      ${{ steps.plan.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Semantic Release (noop)
        id: plan
        uses: python-semantic-release/python-semantic-release@v10.5.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          no_operation_mode: true

  docker:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: plan_version
    if: ${{ needs.plan_version.outputs.released == 'true' }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ needs.plan_version.outputs.version }}
            ghcr.io/${{ github.repository }}:latest

  release:
    name: Publish GitHub Release
    runs-on: ubuntu-latest
    needs: docker
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Semantic Release (real)
        id: rel
        uses: python-semantic-release/python-semantic-release@v10.5.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          git_committer_name: "github-actions"
          git_committer_email: "actions@users.noreply.github.com"

      - name: Upload assets to GitHub Release
        uses: python-semantic-release/publish-action@v10.5.3
        if: steps.rel.outputs.released == 'true'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.rel.outputs.tag }}
